@using odevvv.Models
@model List<Hayvanlar>
@{
    ViewData["Title"] = "İlanlar";
    Layout = "~/Views/Shared/NavbarLayout.cshtml";
}

    <div class="container">
        <h2>Evcil Hayvanlarımız</h2>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    
                    @foreach (var item in Model)
                    {
                    <img src="/css/@item.Hayvanİmage" style="width: 264px; height: 352px; left: 64.2px; top: 0px;">
                    <div class="caption">
                        <div class="so-widget-sow-editor so-widget-sow-editor-base">
                            <div class="siteorigin-widget-tinymce textwidget">
                                <div class="group-text">
                                    <p><strong>Ad : <span class="color-blue" style="color: #3366ff;">@item.HayvanName</span></strong></p>
                                </div>
                                <div class="group-text">
                                    <p><strong>Cins : <span class="color-blue" style="color: #3366ff;">@item.HayvanCins</span></strong></p>
                                </div>
                                <div class="group-text">
                                    <p><strong>Irkı : <span class="color-blue" style="color: #3366ff;">@item.HayvanIrk</span></strong></p>
                                </div>
                                <div class="group-text">
                                    <p><strong>Ağırlık : <span class="color-blue" style="color: #3366ff;">@item.HayvanAgirlik</span></strong></p>
                                </div>
                                <div class="group-text">
                                    <p><strong>Cinsiyet : <span class="color-blue" style="color: #3366ff;">@item.HayvanCinsiyet</span></strong></p>
                                </div>
                                <div class="group-text">
                                    <p><strong>Yaş : <span class="color-blue" style="color: #3366ff;">@item.HayvanYas</span></strong></p>
                                </div>


                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
<a href="/Hayvanlar/İlanVer" class="btn btn-default" style="background-color:lightcoral">Yeni İlan</a>

